
body {
  background-image: url("https://wallpaperaccess.com/full/2887457.jpg");
}
.bio {
  text-align: center;
}


.contact {
  justify-content: center;
  text-align: center
}


.projectList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1vw;
 

}

.project {
  flex: 1;
   height: 38vh;
   width: 31%;
   border: 0.3rem solid rgb(58, 57, 57);
   border-radius: 1rem;
   margin: 0.3rem;
   padding: 0.6rem;
   
 
}

.nav {
  background-color: rgb(87, 85, 85);
  /* height: 4.5rem;  */
  padding: 1rem;
  font-size: 1.6rem;
  justify-content: center;
  padding-left: 1.5vw;
  
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(87, 85, 85);   
  text-align: center;    
  
}
a {
  color:white;
  text-decoration: none;
  border-radius: 0.6rem;
  padding: 0.3rem;
  display: inline-block;
}

.navItem {
  padding: 0.6rem;
  color: white;
  
}

 a:hover  {
  box-shadow: 3px 2px 5px rgb(255, 255, 255);
  transform: scale(1.1)
}



.name {
  text-align: center;
  justify-content: center;
  display: inline;
  margin-left: 28%;
  color: white;
}

.foot {
  padding: 1.2rem;
  font-size: 1.8rem;
  color:white;
}

.list-group {
  margin: 3rem;
  margin-left: 35%;
  margin-right: 35%;
  width: 30vw;
  height: 50vh;
  font-size: 1.5rem;
  background-color: rgb(117, 117, 117);
  border-radius: 1.5rem;
  justify-content: left;
  text-align: left;
  padding: 0.6rem;
 
}

img {
  height: 14vw;
  width: 26vw;
}

.text {
  color: white;
  font-size: 0.8vw;
}

.conLink {
  color:white;
  text-align: left;
  justify-content:left;
  border: none
}

.fa-github a:hover {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  box-shadow: none !important;
}

.bioText {
  text-align: center;
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3vw;
  font-size: 1vw;
}

.aboutText {
  font-size: 2vw;
  color: white;
}

.contactText {
  font-size: 2vw;
  color: white;
}

/* .phantom {
  display: 'block';
  padding: '20px';
  height: '60px';
  width: '100%';
} */