

.bio {
  text-align: center;
}


.contact {
  text-align: center;
}


.projectList {
  text-align: center;
}

.nav {
  background-color: gray;
  height: 4.5rem; 
  padding: 15px;
  font-size: 30px;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem;    
  background-color: gray;   
  text-align: center;    
  
}

a {
  text-decoration: none ;
  border: 4px solid black;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  color: white;
}

.name {
  text-align: center;
  justify-content: center;
  display: inline;
  margin-left: 30%;
}

.foot {
  padding: 20px;
  font-size: 30px;
}